
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link type="text/css" href="{% static 'css/homepage.css' %}" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      <div>
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer>
      <div style="padding:12px 16px">
        <a href="/equipment/">Каталог техники</a>
      </div>
    </footer>
    {% include "includes/footer.html"%}
  </body>
</html>